<div class="container"><%= render :partial => 'admin/shared/search' -%></div>
<div class="container">
  <span class = "floatRight marginTop4"><%= page_entries_info @comments, :entry_name => '' -%></span>
  <h1 class="commentHeading">comments(<%= link_to "+", new_admin_comment_path, :title => "Create New comment" -%>)</h1>
</div>
<div class="container">
  <% if @comments.size > 0 -%>
    <div class="table">
      <div class = "tableHeader">
        <span class = "pct5">Sr. No.</span>
        <span class = "pct5">Id</span>
        <span class = "pct40 textAlignLeft">Description</span>
        <span class = "pct20">Author</span>
        <span class = "pct10">Date</span>
        <span class = "pct5">Status</span>
        <span class = "pct15">-</span>
      </div>
      <%= render :partial => 'comments' -%>
    </div>
	<% else %>
    <div class = "noRecords">There are no comments</div>     
  <% end -%>
</div>